<div class="col-md-12">
  <h3>Current products</h3>

</div>

<div ng-repeat="listing in listings" class="">
  <p class="text-muted">
       title: {{listing.title}} | price: {{listing.price}}
  </p>
  <img src="{{listing.MainImage.url_75x75}}" alt="Image" class="img-rounded" />
  <a href="/#/itempage/{{listing.listing_id}}"><button class="btn btn-success" type="button" name="button">Show product</button></a>
  <a href="/#/"><button class="btn btn-info" type="button" name="button">Add to cart</button></a>
</div>
